:root {
    --nyanza: #e4efd1ff;
    --avocado: #668136ff;
    --slate-gray: #587792ff;
    --pakistan-green: #103900ff;
    --denim: #2e5eaaff;
    --seal-brown: #461F00ff;
    --mobile_width: 815px;
    --fullscreen_width: 1300px;
}