@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('colors.css');


* {
    margin: 0;
    padding: 0;
}


.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
;
}

footer{
    margin-top: auto;
}

.footer {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nyanza);
}

.site_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
     width: 100px;
}

.blocks_holder {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.block {
    background-color: var(--avocado);
    color: var(--nyanza);
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    vertical-align: middle;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.block:hover {
    color: var(--pakistan-green);
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}


@media only screen and (max-width: 700px) {
    .blocks_holder {
        display: flex;
        flex-direction: column;
    }
    .footer_logo{
        width: 200px;
    }
}

@media only screen and (min-width: 1265px) {
    footer {
        width: 70%;
    }

    .blocks_holder{
        padding: 20px 15% 20px 20px;
    }

    .site_logo{
        padding-left: 15%;
    }
}
