@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('constants.css');


* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
;
}

.welcome_banner{
    max-height: 250px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    border: solid 1px;
}

.welcome_image{
    width: 60%;
    object-fit: cover;
}

.welcome_text{
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-size: 50px;
}

.best_sellers_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    font-size: 32px;
    padding: 20px 0 20px 0;
}

/**
PRODCUT BOX CSS START
 */

.card-wrapper{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    border: solid 2px var(--seal-brown);
    padding: 0;
    margin: 0 auto;
}

.card:hover{
    cursor: pointer;
}

.card-img{
    max-width: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.card-body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    vertical-align: middle;
}

.card-title{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}

.card-price{
    font-size: 14px;
}


/**
PRODCUT BOX CSS END
 */




@media only screen and (min-width: 1300px){
    .welcome_banner{
        padding-left: 15%;
        padding-right: 15%;
    }
    .best_sellers_box{
        padding-left: 15%;
        padding-right: 15%;
    }

    .card-wrapper{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 1299px) {
    .card:is(:last-child){
        display: none;
    }
}

@media only screen and (max-width: 815px){
    .best_sellers_products .row{
        justify-content: center;
    }

    .card:is(:nth-last-child(2)){
        display: none;
    }
}