@import url('constants.css');


/* .product_detail {
    margin-right: 15px;
} */


.main_info {
    margin-top: 15px;
}

.product_images {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
}

.carousel-inner {
    width: 100%;
    /* max-width: 360px; */
}

.product_img {
    width: 100%;
    /* max-width: 360px; */
}

.carousel-inner button {
    background: none;
    border: none;
}


.main_product_info {
    margin-top: 0;
}

.product_detail_price {
    font-size: 1.5rem;
    font-weight: 700; 
}

.buyer_interaction {
    margin-left: 0;
}

.counter {
    padding: 0;
    max-width: 125px;
    max-height: 50px;
    background-color: var(--nyanza);
    align-items: center;
    display: flex;
    text-align: center;
    /* justify-content: space-evenly; */
}


.button_counter {
    margin: 5px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--nyanza);
    font-size: 1.5rem;
}

.button_counter:hover {
    background-color: var(--honeydew);
}


.num_counter {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: white;
    width: 35px;
}

.btn {
    min-width: 135px;
}


.long_description h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 200px;
    background-color: var(--nyanza);
    padding: 5px;
    text-align: center;
}

.long_description p {
    background-color: var(--honeydew);
    border-top: 3px solid var(--avocado);
    padding: 15px;
}
