@import url('constants.css');


main.row {
    min-height: 100vh;
    /* width: 100%; */
    margin-right: 0;
    margin-left: 0;
}

.shop {
    padding-top: 15px;
    padding-bottom: 15px;
}

.items {
    background-color: var(--honeydew);
    margin: 0;
    padding-bottom: 15px;
}

.item {
    padding: 15px;
}

/**
PRODCUT BOX CSS START
 */

 .card-wrapper{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}

.card:hover{
    cursor: pointer;
}

.card-img, .card-wrapper .card-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-bottom: 1px solid var(--platinum);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    vertical-align: middle;
}

.card-title{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 10rem;
}

.card-price{
    font-size: 14px;
}


/**
PRODCUT BOX CSS END
*/

.card {
    height: 100%;
}


.card-img {
    width: 100%;
}


.card-wrapper .card, .products_wrapper .card{
    border: 2px solid var(--platinum);
}

.card-wrapper a, .products_wrapper a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}

.card:hover{
    border: 2px solid var(--avocado);
    color: var(--avocado);
}



@media only screen and (min-width: 1300px){

    main.row {
        margin-right: 15%;
        margin-left: 15%;
    }

    .product_detail {
        margin-right: 0;
    }

}

@media only screen and (max-width: 767.89px), only screen and (max-device-width: 767.89px) {

    .side_nav ul {
        line-height: 60px;
    }
    
    .side_nav_links {
        display: none;
    }

    .side_nav_links_SS {
        display: flex;
    }

    .side_nav_links_SS li:hover .side_nav_sub_links_SS {
        display: flex;
        flex-direction: column;
    }

}