@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('colors.css');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
;
}

.content{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.inside_content{
    width: 80%;
    max-width: 900px;

}

.cart{
    width: 100%;
    padding: 5px;
    border-collapse: collapse;

}

.cart td{
    width: 1%;
    white-space: nowrap;
    padding: 5px;
}

.cart td table td{
    padding: unset;
}

.cart input {
    width: 50px;
}

.cart_navigation .nav_cart{
    text-decoration-line: underline;
}

.cart_navigation .nav_billing, .cart_navigation .nav_billing:hover,
.cart_navigation .nav_shipping, .cart_navigation .nav_shipping:hover{
    color: grey;
    cursor: default;
}

.cart td:nth-child(2){
    text-align: left;
    width: unset;
    white-space: unset;
}

.cart tr {
    border: solid;
    border-width: 1px 0;
    border-color: grey;
}