@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('colors.css');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.inside_content{
    width: fit-content;

}