@import url('constants.css');


main.row {
    min-height: 100vh;
    /* width: 100%; */
    margin-right: 0;
}

.shop {
    padding-top: 15px;
    padding-bottom: 15px;
}

.items {
    background-color: var(--honeydew);
    margin: 0;
}

.item {
    padding: 15px;
}

.card {
    height: 100%;
}




@media only screen and (min-width: 1300px){

    main.row {
        margin-right: 15%;
        margin-left: 15%;
    }

    .product_detail {
        margin-right: 0;
    }

}

@media only screen and (max-width: 767.89px), only screen and (max-device-width: 767.89px) {

    .product_detail {
        margin-left: 15px;
        margin-right: 15px;
    }

    .side_nav ul {
        line-height: 60px;
    }
    
    .side_nav_links {
        display: none;
    }

    .side_nav_links_SS {
        display: flex;
    }

    .side_nav_links_SS li:hover .side_nav_sub_links_SS {
        display: flex;
        flex-direction: column;
    }

}