@import url('constants.css');


/* big_side_nav */
.side_nav {
    padding: 0;
    background-color: var(--nyanza);
    border-top: 3px solid black;
}

.side_nav ul {
    padding-left: 0;
    list-style: none;
    line-height: 50px;
    margin: inherit;
}

.side_nav_button {
    border: none;
    width: 100%;
    background-color: var(--nyanza);
    text-align: left;
    font-weight: 700;
    padding-left: 14%;
}

.side_nav_button:hover {
    background-color: var(--honeydew);
}

.side_nav_links li {
    border-bottom: 3px solid black;
}

.side_nav_links span {
    transform: translateY(50%);
    float: right;
    padding-right: 8%;
}

.sub_side_nav_links button {
    padding-left: 26%;
    font-weight: 400;
}

.sub_side_nav_links li {
    border: none;
}





/* small nav */
.side_nav_links_SS {
    display: none;
    justify-content: space-around;
    border-bottom: 3px solid black;
}

.side_nav_button_SS {
    border: none;
    background-color: var(--nyanza);
    text-align: center;
    font-weight: 700;
}

.side_nav_button_SS:hover {
    color: var(--avocado);
}

.side_nav_links_SS span {
    transform: translateY(25%);
}

.side_nav_sub_links_SS {
    display: none;
    position: absolute;
    background-color: var(--honeydew);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0 5%;
}

.side_nav_sub_links_SS button {
    background-color: var(--honeydew);
    font-weight: 400;
}
