@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('constants.css');


* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
;
}

.main{
    padding: 0 5%;
}

div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

div p, div h3{
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 20rem;
}

.scroll_to_bottom{
    text-decoration: none;
    color: var(--avocado);
}

.scroll_to_bottom:hover{
    color: var(--pakistan-green);
}

@media only screen and (min-width: 1299px) {
    .main{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 800px) {
    div p, div h3{
        width: 10rem;
    }
}
