.shipping_cart_table{
    border-collapse: collapse;
}

.shipping_cart_table tr {
    border: solid;
    border-width: 1px 0;
    border-color: grey;
}

.shipping_cart_table td:nth-child(n+2){
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
}

.shipping_cart_table td:last-child{
    text-align: right;
    padding: 10px
}

.shipping_cart_table td:nth-child(1){
    width: 1%;
}

.product_photo{
    width: fit-content;
    max-width: 80px;
}

.price_content{
    width: 100%;

}